
<header>
  <h2 class="mat-headline-2">Flash Card Learning</h2>
</header>
<main class="container">
  <ul class="virtual-scroll-viewport">
    <ng-container *ngFor="let card of flashCards; let i = index; let first = first; let last = last">
      <li *ngIf="!last" class="flashcard-display">
        <p>
          {{card.name}}
        </p>
        <p>
          {{card.answer}}
        </p>
      </li>
      <li *ngIf="last" #targetObserver class="flashcard-display">
        <p>
          {{card.name}}
        </p>
        <p>
          {{card.answer}}
        </p>
      </li>
    </ng-container>
    
  </ul>
</main>
